<section class="products-show">
  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">
    <%= image_tag @product.image.url, class: 'main-img' %>
    <div>
      <h1><%= @product.name %></h1>
      <p><%= @product.description %></p>
      <div class="quantity">
        <span><%= @product.quantity %> in stock at </span>
        <span><%= humanized_money_with_symbol @product.price %></span>
      </div>
      <div class="price">          
        <%= button_to add_item_cart_path(product_id: @product.id), class: 'btn' , method: :post do %>
          <%= fa_icon "shopping-cart", text: 'Add' %>
        <% end %>          
      </div>
    </div>
  </article>

</section>
<section class="products-reviews border border-success rounded p-3">
  <header class="alert alert-success">
    <h1 class="ms-3" id="reviews"><u>Reviews:</u></h1>
  </header>

  <div class="ms-3 me-3 row">
    <% if @product.reviews.empty? %>
      <h5>No Customer Reviews</h5> 
    <% else %>
      <div class="col-md-12">
      <% @product.reviews.order(created_at: :desc).each do |review| %>
        <div class="border-bottom mt-2">
          <div class="d-flex justify-content-between">
            <div>
              <span><strong><%= "#{review.user.first_name} #{review.user.last_name}" %></strong></span>
              <span><%= review.star_ratings %></span>
            </div>
            <span><%= review.created_at.strftime('%F') %>
          </div>
          <div class="d-flex justify-content-between">
            <p><em><%= review.description %></em></p>
            <% if current_user && current_user.email == review.user.email %>
              <%= link_to fa_icon("trash"), product_review_path(@product, review_id: review.id), method: 'delete', data: { confirm: "Are you sure you want to delete this review?" }, class: "btn btn-danger h-25" %>
            <% end %>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
    <div class="mt-3">
      <%= form_for [@product, @review] do |form| %>

        <% if form.object.errors.any? %>
          <div class="alert alert-danger">
            <strong>The following errors prevented saving:</strong>
            <ul>
              <% form.object.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="d-flex align-items-center justify-content-between">
          <div class="form-group">
            <%= form.label :description %>
            <%= form.text_area :description, size: '90', class: 'form-control h-50' %>
          </div>

          <div class="form-group text-center mt-4">
            <%= form.label :rating %>
            <%= form.select :rating, options_for_select([1, 2, 3, 4, 5]), class: 'form-control' %>
          </div>

          <%= form.submit 'Submit Review', class: 'btn btn-primary mt-4' %>
        </div>
      <% end %>
    </div>
  </div>
</section>