<section class="products-show">
  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">
    <%= image_tag @product.image.url, class: 'main-img' %>
    <div>
      <h1><%= @product.name %></h1>
      <p><%= @product.description %></p>
      <div class="quantity">
        <span><%= @product.quantity %> in stock at </span>
        <span><%= humanized_money_with_symbol @product.price %></span>
      </div>
      <div class="price">          
        <%= button_to add_item_cart_path(product_id: @product.id), class: 'btn' , method: :post do %>
          <%= fa_icon "shopping-cart", text: 'Add' %>
        <% end %>          
      </div>
    </div>
  </article>

</section>
<section class="products-reviews border border-success rounded p-3">
  <header class="alert alert-success">
    <h1><u>Reviews:</u></h1>
  </header>

  <div class="ms-3">
    <% @product.reviews.each do |review| %>
      <div class="w-75 border-bottom mt-2">
        <div class="d-flex justify-content-between">
          <div>
            <span><strong><%= "#{review.user.first_name} #{review.user.last_name}" %></strong></span>
            <span><%= review.star_ratings %></span>
          </div>
          <span><%= review.created_at.strftime('%F') %>
        </div>
        <p><em><%= review.description %></em></p>
      </div>
    <% end %>
  </div>
</section>